body {
	background: url("../img/bg.png");
	color: #b2b2b2;
	font-family: 'Nunito' normal, sans-serif;
}

footer {
	text-align: center;
}

h1 {
	margin-top: -1px;
}

h2 {
	background: #575757;
	border-radius: 5px;
}

img {
	border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav a:link,
nav a:visited {
	color: #b2b2b2;
	padding: 10px 10px 10px 25px;
	text-decoration: none;
}

nav a:hover {
  color: lime;
}

nav li {
	float: right;
	list-style: none;
	margin: 2px -13px 0 33px
}

ul {
	list-style: none;
}

.alpha {
	text-align: right;
}
.job {
	text-align: center;
}

.name{
	font-size: 300%;
	text-align: center;
}

#a a {
	background: url("../img/about.png") no-repeat 0 center;
}

#c a {
	background: url("../img/contact.png") no-repeat 0 center;
}

#h a {
	background: url("../img/home.png") no-repeat 0 center;
}

#p a {
	background: url("../img/portfolio.png") no-repeat 0 center;
}

#r a {
	background: url("../img/resume.png") no-repeat 0 center;
}