a:link,
a:visited {
    color: #23f7f7;
	font-family: 'Nunito' normal, sans-serif;
    text-decoration: none;
}

a:focus {
	border: 3px #23f7f7 solid
}

a:hover {
	color: #6abd45;
}

body {
	background: url("../img/bg.png");
	color: #b2b2b2;
	font-family: 'Nunito' normal, sans-serif;
}

footer {
	color: #6abd45;
	font-size: .5em;
	text-align: center;
}

h1,h2 {
	color: #6abd45;
}

img {
	border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
	font-size: 1.05em;
	margin-top: 2em;
	text-transform: uppercase;
}

nav a:link,
nav a:visited {
	color: #b2b2b2;
	padding: 10px 10px 10px 25px;
	text-decoration: none;
}

nav a:hover {
  color: #6abd45;
}

nav li {
	float: right;
	list-style: none;
	margin: 2px -13px 0 33px
}

ul {
	list-style: none;
}

.job {
	text-align: center;
}

.name{
	font-size: 300%;
	text-align: center;
}