a:link,
a:visited {
    color: #23f7f7;
	font-family: 'Nunito' normal, sans-serif;
    text-decoration: none;
}

a:focus {
	border: 3px #23f7f7 solid
}

a:hover {
	color: #6abd45;
}

body {
	background: url("../img/bg.png");
	color: #b2b2b2;
	font-family: 'Nunito' normal, sans-serif;
}

footer {
	color: #6abd45;
	font-size: .75em;
	text-align: center;
}

h1,h2 {
	color: #6abd45;
}

img {
	border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
	font-size: 1.05em;
	margin-top: 2em;
	text-transform: uppercase;
}

nav a:link,
nav a:visited {
	color: #b2b2b2;
	padding: 10px 10px 10px 25px;
	text-decoration: none;
}

nav a:hover {
  color: #6abd45;
}

nav li {
	float: right;
	list-style: none;
	margin: 2px -13px 0 33px
}

ul {
	list-style: none;
}

.logo img {
	border-radius: 0;
	display: inline;
	height: 5em;
	margin-top: -2em;
}

.job {
	text-align: center;
}

.name{
	font-size: 300%;
	text-align: center;
}


/* breakpoints: 
  * mobile portrait : 320px
  * mobile landscape : 480px
  * tablet portrait: 768px
  * tablet landscape: 1024px
  * desktop standard: 1440px
  * large desktop: 1920px
*/

/*tablet landscape*/
@media screen and (max-width: 900px) {
  .mini {
    display: none;
  }
  .logo {
    display: none;
  }
  nav li {
   margin: 2% 0 0 2%
  }

}

/*tablet portrait*/
@media screen and (max-width: 697px) {
  .mini {
    display: inline;
    font-size: 2em;
  }
  .full {
    display: none;
  }
  .logo {
    display: none;
  }

}

/*mobile landscape*/
@media screen and (max-width: 480px) {
  .mini {
    display: inline;
  }
  .full {
    display: none;
  }
  nav li {
    margin: 2% 0 0 2%;
  }

  .logo {
    display: none;
  }

}

/*mobile portrait */
@media screen and (max-width: 340px) {
  .mini {
    display: inline;
  }
  .full {
    display: none;
  }
  nav li {
    margin: .5% 0 0 .5%;
  }
  .logo {
    display: none;
  }
  nav a:link,
  nav a:visited {
    padding: 5px 5px 5px 5px;
  }

}